.switch {
  position: relative;
  display: inline-block;
  /* Changes the width of the entire slider*/
  width: 145px;
  height: 34px;
}

/* DO NOT DELETE anything in .slider, this maintains the circle slider */
/* This handles the original position of the slider,
where it is off and to the left */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  /* Handles green color */
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
}

/* This handles the on position of the slider, when it is to the right */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* This handles the slider's different colors */
/* Handles red color when button slides right */
input:checked + .slider {
  background-color: #ca2222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* This controls how much the slider moves when you click it */
input:checked + .slider:before {
  -webkit-transform: translateX(110px);
  -ms-transform: translateX(110px);
  transform: translateX(110px);
}

/*------ ADDED CSS ---------*/

/* This shows the text when each button is clicked */
.on
{
  display: none;
}
/* Formats the location of the on/off text to be in the middle,
white, and the font style and size */
.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

/* Ensures that the correct text is displayed when the button slides */
input:checked + .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded background, makes the overall box where the circle moves around
in round */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Code for the layout of popup*/
.wrapper {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.box1 { grid-area: 1 / 1 / 2 / 2; }
.box2 { grid-area: 1 / 2 / 2 / 3; }
.box3 { grid-area: 2 / 1 / 3 / 3; }
.box4 { grid-area: 3 / 1 / 4 / 3; }
