.switch {
  position: relative;
  display: inline-block;
  /* Changes the width of the entire slider*/
  width: 145px;
  height: 34px;
}

/* DO NOT DELETE anything in .slider, this maintains the circle slider */
/* This handles the original position of the slider,
where it is off and to the left */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  /* Handles green color */
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
}

/* This handles the on position of the slider, when it is to the right */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* This handles the slider's different colors */
/* Handles red color when button slides right */
input:checked + .slider {
  background-color: #ca2222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* This controls how much the slider moves when you click it */
input:checked + .slider:before {
  -webkit-transform: translateX(110px);
  -ms-transform: translateX(110px);
  transform: translateX(110px);
}

/*------ ADDED CSS ---------*/

/* This shows the text when each button is clicked */
.on
{
  display: none;
}
/* Formats the location of the on/off text to be in the middle,
white, and the font style and size */
.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

/* Ensures that the correct text is displayed when the button slides */
input:checked + .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded background, makes the overall box where the circle moves around
in round */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Wrapper class handles the title and logo at top */
.wrapper {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.box1 {
grid-row-start: 1;
grid-column-start: 1;
grid-row-end: 2;
grid-column-end: 2;
}
.box2 {
grid-row-start: 1;
grid-column-start: 2;
grid-row-end: 2;
grid-column-end: 3;
}
/* End wrapper class */

/* Handles the Timer tab's elements*/
.innerwrapper {
display: grid;
/*grid-template-columns: auto*/
grid-template-rows: 30px 40px 80px;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.innerbox1 {
grid-row-start: 1;
grid-row-end: 2;
}
.innerbox2 {
grid-row-start: 2;
grid-row-end: 3;
}
.innerbox3 {
grid-row-start: 3;
grid-row-end: 4;
grid-row-gap: 10px;
}
/* end Timer's tab elements */

/* Modifies the settings button */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  padding: 4px 4px;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* Modifies margin for horizontal rule tag */
hr {
  margin-left: 5px;
  margin-right: 5px;
}
